@model Cotrust.Models.Direction

@{
    ViewData["Title"] = "Details";
}

<div class="text-center mt-2">
    <div class="card-title">Direcciones</div>
</div>

<center>
    <div class="card shadow mb-5 mt-2 w-50">
        <div class="card-header py-3">
            <div class="row">
                <div class="input-group">
                    <div class="fw-semibold me-2">Domicilio:</div>
                    @Html.DisplayFor(model => model.Address)
                </div>
                <div class="input-group">
                    <div class="fw-semibold me-2">Ciudad:</div>
                    @Html.DisplayFor(model => model.City)
                </div>
                <div class="input-group">
                    <div class="fw-semibold me-2">Región:</div>
                    @Html.DisplayFor(model => model.Region)
                </div>
                <div class="input-group">
                    <div class="fw-semibold me-2">País:</div>
                    @Html.DisplayFor(model => model.Country)
                </div>
                <div class="input-group">
                    <div class="fw-semibold me-2">Código postal:</div>
                    @Html.DisplayFor(model => model.PostalCode)
                </div>
            </div>
            <div class="mt-2">
                <a class="btn btn-outline-primary me-1" asp-action="Edit" asp-route-id="@Model?.Id">
                    <i class="fas fa-edit"></i>
                    Edit
                </a> |
                <a class="btn btn-outline-primary" asp-action="Index">
                    <i class="fas fa-solid fa-arrow-left"></i>
                    Volver
                </a>
            </div>
        </div>
    </div>
</center>



