@model IEnumerable<Cotrust.Models.Direction>

@{
    ViewData["Title"] = "Addresses";
}

<div class="text-center mt-2">
    <div class="card-title">Direcciones</div>
</div>


<center>
    <a class="btn btn-outline-primary" asp-action="Create" onmouseover="buttonmouseover('newaddress')" onmouseout="buttonmouseout('newaddress')">
        <i class="fas fa-plus-circle"></i>
        <span id="newaddress" class="visually-hidden">Agregar</span>
    </a>

    @foreach (var Item in Model)
    {        
        <div class="card shadow mb-2 mt-2" style="width:600px">
            <div class="card-body border-bottom border-primary border-2">
                <h5 class="card-text fw-semibold">@Item.Address, @Item.City, @Item.Region, @Item.Country - @Item.PostalCode</h5>

                <div class="input-group mt-1">
                    <a class="btn btn-outline-success ms-auto me-1" style="width:50px" asp-action="Edit" asp-route-id="@Item.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-outline-primary me-1 ms-1" style="width:50px" asp-action="Details" asp-route-id="@Item.Id">
                        <i class="fas fa-info"></i>
                    </a>
                    <a class="btn btn-outline-danger ms-1 me-auto" style="width:50px" asp-action="Delete" asp-route-id="@Item.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>      
    }
</center>




