@model IEnumerable<Cotrust.Models.Direction>

@{
    ViewData["Title"] = "Addresses";
}

<div class="text-center mt-2">
    <div class="card-title">Direcciones</div>
</div>


<center>
    <a class="btn btn-outline-primary" asp-action="Create" onmouseover="buttonmouseover('newaddress')" onmouseout="buttonmouseout('newaddress')">
        <i class="fas fa-plus-circle"></i>
        <span id="newaddress" class="visually-hidden">Agregar</span>
    </a>

    @foreach (var Item in Model)
    {        
        <div class="card shadow mb-2 mt-2 w-100" style="max-width:700px">
            <div class="card-body border-bottom border-primary border-2">

                <div class="input-group">
                    <h5 class="card-text fw-semibold">@Item.Address, @Item.City, @Item.Region, @Item.Country - @Item.PostalCode</h5>
                </div>

                <div class="input-group mt-2">
                    <a class="me-auto text-decoration-none" asp-action="Delete" asp-route-id="@Item.Id">
                        <i class="fas fa-trash"></i>
                        Eliminar
                    </a>
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@Item.Id">
                        <i class="fas fa-edit"></i>
                        Editar
                    </a>                 
                </div>
            </div>
        </div>      
    }
</center>




