@model IEnumerable<Cotrust.Models.CartProduct>

@{
    ViewData["Title"] = "Cart";
}

<div class="text-center mt-2">
    <div class="card-title">Carrito</div>
</div>

<div class="text-center">     
    <center>
        @foreach (var Item in Model)
        {
            <div class="card shadow mb-2 mt-2 w-100" style="max-width:800px">
                <div class="card-body border-bottom border-primary border-2">
                    <div class="d-flex">
                        <!-- Product image-->
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@Item.ProductId" onmouseover="imagemouseover('imgcart @Item.Id')" onmouseout="imagemouseout('imgcart @Item.Id')">
                            <img id="imgcart @Item.Id" class="card-img me-auto" src="data:image/jpg; base64, @Item.Product.Image" alt="..." style="height:100px;width:auto" />
                        </a>                      
                        <div class="container">
                            <div class="input-group mt-1">
                                <a class="card-text me-auto text-decoration-none text-dark bg-transparent" asp-controller="Product" asp-action="Index" asp-route-id="@Item.ProductId" onmouseover="namemouseover('ncart @Item.Id')" onmouseout="namemouseout('ncart @Item.Id')">
                                    <h5 id="ncart @Item.Id" class="fw-bold">@Item.Product.Name</h5>
                                </a>                              
                                <h4 class="card-text fw-bold">$ @(Item.Quantity * Item.Product.Price)</h4>
                            </div>

                            <div class="input-group">
                                <h6 class="card-text me-auto">@Item.Quantity x $@Item.Product.Price c/u</h6>
                            </div>

                            <div class="input-group mt-3">
                                <a class="card-text me-auto text-decoration-none" asp-action="DeleteProduct" asp-route-id="@Item.Id">
                                    <h6>
                                        <i class="fas fa-trash"></i>
                                        Eliminar
                                    </h6>
                                </a>
                                <a class="card-text text-decoration-none" asp-controller="Buys" asp-action="BuyProduct" asp-route-id="@Item.Id">
                                    <h6>
                                        <i class="fas fa-credit-card"></i>
                                        Comprar
                                    </h6>                                  
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="card shadow mb-2 mt-2 w-100" style="max-width:800px">
            <div class="card-body">
                <div class="input-group bg-secondary bg-opacity-10">
                    <h4 class="fw-semibold ms-auto me-2">Total:</h4>
                    <h4 class="fw-semibold me-auto">$ @ViewData["Total"]</h4>
                </div>

                <div class="d-flex mt-2">
                    <a class="btn btn-outline-primary me-auto" asp-controller="Packages" asp-action="PackageName" onmouseover="buttonmouseover('addastemplate')" onmouseout="buttonmouseout('addastemplate')">
                        <i class="fas fa-plus-circle"></i>
                        <span id="addastemplate" class="visually-hidden">Agregar como plantilla</span>
                    </a>
                    <a class="btn btn-outline-success" asp-controller="Buys" asp-action="BuyAll" onmouseover="buttonmouseover('buyall')" onmouseout="buttonmouseout('buyall')">
                        <i class="fas fa-credit-card"></i>
                        <span id="buyall" class="visually-hidden">Comprar todo</span>
                    </a>
                </div>
            </div>
        </div>
    </center>
</div>